force-app/main/default/flows/Scheduled_ACN_Nudge_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>default - between 8 and 20 percent</description>
        <name>Get_Random_Amount_Decrease</name>
        <label>Get Random Amount Decrease</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Decrease_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>default - between 8 and 20 percent</description>
        <name>Get_Random_Amount_Increase</name>
        <label>Get Random Amount Increase</label>
        <locationX>528</locationX>
        <locationY>792</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Increase_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>gets a random value between 0 and 1 so that way we can have a split decision of whether we increase or decrease the amount</description>
        <name>randint</name>
        <label>randint()</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fifty_Fifty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>sets the new value of the opp amount and adds the opp to the collection</description>
        <name>Set_Decrease_Amount</name>
        <label>Set Decrease Amount</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Top_amts.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountDecrease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcvOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Top_amts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Top_amts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sets the new value of the opp amount and adds the opp to the collection that gets updated</description>
        <name>Set_Increase_Amount</name>
        <label>Set Increase Amount</label>
        <locationX>528</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Top_amts.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountIncrease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcvOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Top_amts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Top_amts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Gets top X amounts. This means X opps will be updated.</description>
        <name>Sort_by_Amount_Desc</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort by Amount Desc</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Opps</collectionReference>
        <connector>
            <targetReference>Loop_thru_Top_amts</targetReference>
        </connector>
        <limit>6</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Amount</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>If the randint is lower than 0.5 then decrease the amount</description>
        <name>Fifty_Fifty</name>
        <label>Fifty Fifty</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Get_Random_Amount_Increase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Increase</defaultConnectorLabel>
        <rules>
            <name>Decrease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>randint.randomNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.5</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Random_Amount_Decrease</targetReference>
            </connector>
            <label>Decrease</label>
        </rules>
    </decisions>
    <description>A scheduled flow to change the amount of random opportunities + fix error</description>
    <environments>Default</environments>
    <formulas>
        <description>Amount to decrease</description>
        <name>fAmountDecrease</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_thru_Top_amts.Amount}-({!Loop_thru_Top_amts.Amount}*({!Get_Random_Amount_Decrease.randomNumber}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Amount after adjustment increase</description>
        <name>fAmountIncrease</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_thru_Top_amts.Amount}+({!Loop_thru_Top_amts.Amount}*({!Get_Random_Amount_Increase.randomNumber}/100))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Scheduled ACN Nudge - Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled ACN Nudge - Amount</label>
    <loops>
        <description>loops thru each of those opps 1 by 1</description>
        <name>Loop_thru_Top_amts</name>
        <label>Loop thru Top amts</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Open_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>randint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Amounts_on_looped_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds open opps that dont have products (so you can update the amount)</description>
        <name>Get_Open_Opps</name>
        <label>Get Open Opps No Line Items</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_by_Amount_Desc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Changes the amount of all opps found</description>
        <name>Update_Amounts_on_looped_opps</name>
        <label>Update Amounts on looped opps</label>
        <locationX>176</locationX>
        <locationY>1176</locationY>
        <inputReference>rcvOpp</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Opps</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-03</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>record collection variable of the opportunities that we are going to update</description>
        <name>rcvOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
