force-app/main/default/flows/Scheduled_ACN_Nudge_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>random number of days to push</description>
        <name>random_Days_Push</name>
        <label>random Days Push</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Push_Opps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Random_Pull_Number</name>
        <label>Random Pull Number</label>
        <locationX>138</locationX>
        <locationY>1308</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_to_variable</name>
        <label>assign to variable</label>
        <locationX>138</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Pull.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPullAheadFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvOppsCloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Pull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Pull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assignment for the opps to push</description>
        <name>Push_Opps</name>
        <label>Push Opps</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Close_Date_Opps.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCloseDatePushFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvOppsCloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Close_Date_Opps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cvDupeCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Close_Date_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Close_Date_Opps</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>sorts to find the top 5 nearest close dates</description>
        <name>Sort_Close_Dates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Close Dates</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_for_Close_Date_Push</collectionReference>
        <connector>
            <targetReference>Loop_thru_Close_Date_Opps</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CloseDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>sorts to find the top 3 nearest close dates + 60 days</description>
        <name>Sort_Pull_Close_Dates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Pull Close Dates</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_for_Close_Date_Pull</collectionReference>
        <connector>
            <targetReference>Loop_thru_Pull</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CloseDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Lets you determine if you do or dont want to run the flow based on day of the week. 1 = sunday, 2= monday, 7 = saturday. at default, will run every day except saturday night.</description>
        <name>Want_to_run_it</name>
        <label>Want to run it?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>dont run it this day</defaultConnectorLabel>
        <rules>
            <name>Yes_Run_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fDayofTheWeek</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_for_Close_Date_Push</targetReference>
            </connector>
            <label>Yes Run It</label>
        </rules>
    </decisions>
    <description>A scheduled flow to change the close date of random opportunities. Includes optional gating by day of the week. Dupe check to prevent redundant update errors</description>
    <environments>Default</environments>
    <formulas>
        <name>fCloseDatePushFinal</name>
        <dataType>Date</dataType>
        <expression>{!fPushDateRangeStart}+{!random_Days_Push.randomNumber}</expression>
    </formulas>
    <formulas>
        <description>makes sure that the same opp isn&apos;t used every single time</description>
        <name>fDateStageChangeReset</name>
        <dataType>Date</dataType>
        <expression>TODAY()-2</expression>
    </formulas>
    <formulas>
        <description>Returns a number based on the day of the week.
1= sunday, 2= monday, ... , 7= saturday. this formula exists so that way if you dont want to run it every single day you dont have to.</description>
        <name>fDayofTheWeek</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(today())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fPullAheadFinal</name>
        <dataType>Date</dataType>
        <expression>{!fPullDateRangeStart}-{!Random_Pull_Number.randomNumber}</expression>
    </formulas>
    <formulas>
        <name>fPullDateRangeStart</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <description>starting range for when to find close dates for the opps that will push</description>
        <name>fPushDateRangeStart</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Scheduled ACN Nudge - Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled ACN Nudge - Close Date</label>
    <loops>
        <description>cycles thru the top 5 earliest close dates so that they can be changed</description>
        <name>Loop_thru_Close_Date_Opps</name>
        <label>Loop thru Close Date Opps</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Records_for_Close_Date_Push</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>random_Days_Push</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Records_for_Close_Date_Pull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Pull</name>
        <label>Loop thru Pull</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <collectionReference>Get_Records_for_Close_Date_Pull</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Random_Pull_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Close_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Open Opp and Close Date in time frame</description>
        <name>Get_Records_for_Close_Date_Pull</name>
        <label>Get Records for Close Date Pull</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Pull_Close_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fPullDateRangeStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>cvDupeCheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Open Opp and Close Date in time frame</description>
        <name>Get_Records_for_Close_Date_Push</name>
        <label>Get Records for Close Date Push</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Close_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fPushDateRangeStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Close_Dates</name>
        <label>Update Close Dates</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <inputReference>krcvOppsCloseDate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Want_to_run_it</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-03</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>makes sure the push opps aren&apos;t found in the pull</description>
        <name>cvDupeCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>krcvOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>the opps who will have their close date changed</description>
        <name>krcvOppsCloseDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>rcv for the opps you want to update the stage on</description>
        <name>krcvStageOppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>the 4 found alphabetically</description>
        <name>stageOppsFoundForLoopAtoZ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>to prevent the dupes</description>
        <name>vDupeCheckID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
