force-app/main/default/flows/Scheduled_Opp_Edits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>between 8 and 20 percent</description>
        <name>Get_Random_Amount_Decrease</name>
        <label>Get Random Amount Decrease</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Decrease_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>between 8 and 20 percent</description>
        <name>Get_Random_Amount_Increase</name>
        <label>Get Random Amount Increase</label>
        <locationX>528</locationX>
        <locationY>792</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Increase_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>gets a random value between 0 and 1 so that way a</description>
        <name>randint</name>
        <label>randint()</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fifty_Fifty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>random number of days to push</description>
        <name>random_Days_Push</name>
        <label>random Days Push</label>
        <locationX>264</locationX>
        <locationY>2856</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Push_Opps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Between 0 and 1 for probability weighting</description>
        <name>Random_Number_for_Stage</name>
        <label>Random Number for Stage</label>
        <locationX>528</locationX>
        <locationY>1932</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>X10_15_75_Weight</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Random_Pull_Number</name>
        <label>Random Pull Number</label>
        <locationX>264</locationX>
        <locationY>3480</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_to_variable</name>
        <label>assign to variable</label>
        <locationX>264</locationX>
        <locationY>3588</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Pull.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPullAheadFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvOppsCloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Pull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Pull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Opps_for_Stage_Loop</name>
        <label>Combine Opps for Stage Loop</label>
        <locationX>176</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>stageOppsFoundForLoopAtoZ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_First_Discovery_Opp_A_to_Z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stageOppsFoundForLoopAtoZ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_First_Negotiation_Opp_A_to_Z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stageOppsFoundForLoopAtoZ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_First_P_Q_Opp_A_to_Z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stageOppsFoundForLoopAtoZ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_First_Qualified_Opp_A_to_Z</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Opps_For_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assignment for the opps to push</description>
        <name>Push_Opps</name>
        <label>Push Opps</label>
        <locationX>264</locationX>
        <locationY>2964</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Close_Date_Opps.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCloseDatePushFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvOppsCloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Close_Date_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Close_Date_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Decrease_Amount</name>
        <label>Set Decrease Amount</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Top_6_amt.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountDecrease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Top_6_amt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Top_6_amt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Increase_Amount</name>
        <label>Set Increase Amount</label>
        <locationX>528</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Loop_thru_Top_6_amt.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountIncrease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Top_6_amt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Top_6_amt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Closed_Lost</name>
        <label>Set Stage Closed Lost</label>
        <locationX>528</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_Opps_For_Stage_Change.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvStageOppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Opps_For_Stage_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Opps_For_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Decrement_Formula</name>
        <label>Set Stage to Decrement Formula</label>
        <locationX>264</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_Opps_For_Stage_Change.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStageDecrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvStageOppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Opps_For_Stage_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Opps_For_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Increment_Formula</name>
        <label>Set Stage to Increment Formula</label>
        <locationX>792</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_Opps_For_Stage_Change.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStageIncrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>krcvStageOppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Opps_For_Stage_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Opps_For_Stage_Change</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Gets top X amounts. This means X opps will be updated.</description>
        <name>Sort_by_Amount_Desc</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort by Amount Desc</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Opps</collectionReference>
        <connector>
            <targetReference>Loop_thru_Top_6_amt</targetReference>
        </connector>
        <limit>6</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Amount</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>sorts to find the top 5 nearest close dates</description>
        <name>Sort_Close_Dates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Close Dates</label>
        <locationX>176</locationX>
        <locationY>2640</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_for_Close_Date_Push</collectionReference>
        <connector>
            <targetReference>Loop_thru_Close_Date_Opps</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CloseDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>sorts to find the top 3 nearest close dates + 60 days</description>
        <name>Sort_Pull_Close_Dates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Pull Close Dates</label>
        <locationX>176</locationX>
        <locationY>3264</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_for_Close_Date_Pull</collectionReference>
        <connector>
            <targetReference>Loop_thru_Pull</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CloseDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>If the randint is lower than 0.5 then decrement the amount</description>
        <name>Fifty_Fifty</name>
        <label>Fifty Fifty</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Get_Random_Amount_Increase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Increase</defaultConnectorLabel>
        <rules>
            <name>Decrease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>randint.randomNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.5</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Random_Amount_Decrease</targetReference>
            </connector>
            <label>Decrease</label>
        </rules>
    </decisions>
    <decisions>
        <name>X10_15_75_Weight</name>
        <label>10/15/75 Weight</label>
        <locationX>528</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_to_Increment_Formula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Increment Stage</defaultConnectorLabel>
        <rules>
            <name>Decrement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Random_Number_for_Stage.randomNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.25</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Random_Number_for_Stage.randomNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Decrement_Formula</targetReference>
            </connector>
            <label>Decrement Stage</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Random_Number_for_Stage.randomNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <description>added amount fillter added dates</description>
    <environments>Default</environments>
    <formulas>
        <description>Amount to decrease</description>
        <name>fAmountDecrease</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_thru_Top_6_amt.Amount}-({!Loop_thru_Top_6_amt.Amount}*({!Get_Random_Amount_Decrease.randomNumber}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Amount after adjustment increase</description>
        <name>fAmountIncrease</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_thru_Top_6_amt.Amount}+({!Loop_thru_Top_6_amt.Amount}*({!Get_Random_Amount_Decrease.randomNumber}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fCloseDatePushFinal</name>
        <dataType>Date</dataType>
        <expression>{!fPushDateRangeStart}+{!random_Days_Push.randomNumber}</expression>
    </formulas>
    <formulas>
        <description>makes sure that the same opp isn&apos;t used every single time</description>
        <name>fDateStageChangeReset</name>
        <dataType>Date</dataType>
        <expression>TODAY()-2</expression>
    </formulas>
    <formulas>
        <name>fPullAheadFinal</name>
        <dataType>Date</dataType>
        <expression>{!fPullDateRangeStart}-{!Random_Pull_Number.randomNumber}</expression>
    </formulas>
    <formulas>
        <name>fPullDateRangeStart</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <description>starting range for when to find close dates for the opps that will push</description>
        <name>fPushDateRangeStart</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <description>What Stage changes should be if they are</description>
        <name>fStageDecrement</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_Thru_Opps_For_Stage_Change.StageName}, 
&quot;Discovery&quot;, &quot;Qualification&quot;, 
&quot;Proposal/Quote&quot;, &quot;Discovery&quot;,
&quot;Negotiation&quot;,&quot;Proposal/Quote&quot;,
&quot;Qualification&quot;)</expression>
    </formulas>
    <formulas>
        <name>fStageIncrement</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_Thru_Opps_For_Stage_Change.StageName}, 
&quot;Qualification&quot;, &quot;Discovery&quot;, 
&quot;Discovery&quot;, &quot;Proposal/Quote&quot;,
&quot;Proposal/Quote&quot; ,&quot;Negotiation&quot;,
&quot;Negotiation&quot;,&quot;Closed Won&quot;,
&quot;Qualification&quot;)</expression>
    </formulas>
    <interviewLabel>Scheduled Opp Edits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Opp Edits</label>
    <loops>
        <description>cycles thru the top 5 earliest close dates so that they can be changed</description>
        <name>Loop_thru_Close_Date_Opps</name>
        <label>Loop thru Close Date Opps</label>
        <locationX>176</locationX>
        <locationY>2748</locationY>
        <collectionReference>Get_Records_for_Close_Date_Push</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>random_Days_Push</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Records_for_Close_Date_Pull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Opps_For_Stage_Change</name>
        <label>Loop Thru Opps For Stage Change</label>
        <locationX>176</locationX>
        <locationY>1824</locationY>
        <collectionReference>stageOppsFoundForLoopAtoZ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Random_Number_for_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Stages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Pull</name>
        <label>Loop thru Pull</label>
        <locationX>176</locationX>
        <locationY>3372</locationY>
        <collectionReference>Get_Records_for_Close_Date_Pull</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Random_Pull_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Close_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Top_6_amt</name>
        <label>Loop thru Top 6 amt</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Open_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>randint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the first opp in the discovery stage</description>
        <name>Get_First_Discovery_Opp_A_to_Z</name>
        <label>Get First Discovery Opp A to Z</label>
        <locationX>176</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_P_Q_Opp_A_to_Z</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fDateStageChangeReset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets first opp in the negotiation stage</description>
        <name>Get_First_Negotiation_Opp_A_to_Z</name>
        <label>Get First Negotiation Opp A to Z</label>
        <locationX>176</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Combine_Opps_for_Stage_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fDateStageChangeReset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets first opp in the p/q stage</description>
        <name>Get_First_P_Q_Opp_A_to_Z</name>
        <label>Get First P/Q Opp A to Z</label>
        <locationX>176</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Negotiation_Opp_A_to_Z</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal/Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fDateStageChangeReset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the first opp in the qualified stage</description>
        <name>Get_First_Qualified_Opp_A_to_Z</name>
        <label>Get First Qualified Opp A to Z</label>
        <locationX>176</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Discovery_Opp_A_to_Z</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fDateStageChangeReset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds open opps that dont have products (so you can update the amount)</description>
        <name>Get_Open_Opps</name>
        <label>Get Open Opps No Line Items</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_by_Amount_Desc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Open Opp and Close Date in time frame</description>
        <name>Get_Records_for_Close_Date_Pull</name>
        <label>Get Records for Close Date Pull</label>
        <locationX>176</locationX>
        <locationY>3156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Pull_Close_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fPullDateRangeStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Open Opp and Close Date in time frame</description>
        <name>Get_Records_for_Close_Date_Push</name>
        <label>Get Records for Close Date Push</label>
        <locationX>176</locationX>
        <locationY>2532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Close_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fPushDateRangeStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Close_Dates</name>
        <label>Update Close Dates</label>
        <locationX>176</locationX>
        <locationY>3780</locationY>
        <inputReference>krcvOppsCloseDate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Changes the amount of all 6 opps</description>
        <name>Update_Records_1</name>
        <label>Update Amounts on top 6</label>
        <locationX>176</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Get_First_Qualified_Opp_A_to_Z</targetReference>
        </connector>
        <inputReference>krcvOpp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stages</name>
        <label>Update Stages</label>
        <locationX>176</locationX>
        <locationY>2424</locationY>
        <connector>
            <targetReference>Get_Records_for_Close_Date_Push</targetReference>
        </connector>
        <inputReference>krcvStageOppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Opps</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-03</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>krcvOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>the opps who will have their close date changed</description>
        <name>krcvOppsCloseDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>rcv for the opps you want to update the stage on</description>
        <name>krcvStageOppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>the 4 found alphabetically</description>
        <name>stageOppsFoundForLoopAtoZ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
